html {
    padding: 8em;
    background-color: #f8f8f8;
}


* {
    font-family: 'Roboto Condensed';
    font-size: 1.1rem;
}

h1 { 
    font-size: 1.3em;
}

main, #content {
    display: flex;
    flex-direction: column;
}

main {
    color: #333;
    background-color: #fff;


    margin: auto;
    padding: 1em;
    max-width: 40em;

    box-shadow: 2px 2px 5px #0001;
    border-radius: 3px;
}

main > *:not(:last-child), #content > *:not(:last-child) {
    margin-bottom: 1em;
}

button {
    border: none;
    outline: none;
    padding: 0.8em;
    cursor: pointer;
    background-color: #eee;
    color: #333;
    border-radius: 3px;
}

button:hover {
    background-color: #f7f7f7;
    color: #000;
}

textarea {
    resize: vertical;
    resize: none;

    border: 3px solid #555;
    outline: none;
    padding: 0.8em;
    background-color: #444;
    color: #eee;
}

.hidden {
    display: none;
}


.phrase {
    background-color: #222;
    color: #fff;
    padding: 2em;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    border-radius: 3px;
    border: none;
}

p.phrase {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.next {
    background-color: #077;
    color: #fff;
}

.next:hover {
    background-color: #099;
    color: #fff;
}